.heading-1 {
    text-align: center;
    margin-top: 1rem; 
    margin-bottom: 1rem;
    color: #007bff;
}

.heading-2 {
    text-align: left;
    color: #235695;
}

.heading-3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center; 
    color: rgb(44, 119, 145); 
}

.heading-4 {
    margin-top: 10px;
    text-align: center; 
    color: rgb(40, 161, 135); 
}

.form_heading_4 {
    margin-top: 10px;
    text-align: left; 
    color: rgb(40, 161, 135); 
}


.container {
    justify-content: center;
}

.img-fluid {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.img-fluid:hover {
    transform: scale(1.1); 
    border-color: #333; 
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.8); 
    align-items: center; 
    justify-content: center; 
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 50%;
    max-height: 50%;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#my-section {
    background-image: url('../images/background.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}

#my-section2 {
    background-image: url('../images/background4.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
}
